<h2>Primeiro Exercício</h2>
<p>No primeiro exercício o programa permite transformar tabelas do Oracle em um script de criação de coleção em MongoDB</p>
<p>Esse exercício foi dividido em duas partes, uma para transformação de tabelas sem considerar referencias estrangeiras e outra considerando-as</p>
<h2>Segundo Exercício</h2>
