<h2>Primeiro Exercício</h2>
<p>No primeiro exercício o programa permite transformar tabelas do Oracle em um script de criação de coleção em MongoDB</p>
<p>Esse exercício foi dividido em duas partes, uma para transformação de tabelas sem considerar referencias estrangeiras e outra considerando-as</p>
<%= link_to :acessar, first_ex_path, class: 'btn btn-bg btn-primary' %>
<h2>Segundo Exercício</h2>
<p>No segundo exercício o programa permite a geração de índice para a tabela selecionada</p>
<p>O índice</p>
